body,
html {
  width: 100%;
  height: 100%;
}
.btn-primary{
	background-color: rgba(193, 88, 10,.75);
}
.btn-primary:hover{
	background-color: black;
}
.jumbotron{
	background-color: rgba(193, 88, 10,.75);
}
body {
	background-image: url(IMG_2543.jpg);
	background-size: cover;
    font-family: 'Georgia', serif;
}